@media (max-width: 1120px){
	.garis{
		width: 75% !important;
    	margin-top: 3.5% !important;
	}
}
@media (max-width: 993px){
	.garis{
		width: 90% !important;
    	margin-top: 5% !important;
	}
}
@media (min-width: 768px){
	.edit_btn {
    	margin-top: 0;
	}
	p.text-company-email-caption {
    	margin-top: 40px;
    	font-size: 14px;
	}
}
@media (max-width: 768px){
	.garis{
		width: 75% !important;
    	margin-top: 3.5% !important;
	}
	.number p {
    	font-size: 12px !important;
	}
	.step-fill{
    	width: 50px !important;
    	height: 50px !important;
    	font-size: 10px !important;
	}
	p.text-company-email-caption {
    	font-size: 10px;
	}
	#table_kuisioner tr th, tr td {
    	font-size: 60%;
	}
	.table-responsive tr th, tr td {
    	font-size: 60%;
	}
}

@media (max-width: 425px){
	.garis{
    	margin-top: 8.5% !important;
	}
	.garis-progress{
    	width: 70% !important;
	}
	 .list-progress.pre-scrollable{
	 	    padding: 35px 0 0 0 !important;
	 }
	 .edit_btn {
    	margin-top: 2% !important;
	}
	ul.tab-nav:not(.tab-nav-lg) li:first-child{
		margin-left: 0px
	}
	ul.tab-nav:not(.tab-nav-lg) li a{
		font-size: 11px;
	}
	h3 {
    	text-align: center;
	}
	.login-link{
		margin-top:20px;
	}
}